#heading{


   margin-top: 80px;

   text-align: center;

   font-family: Helvetica;

   border: 5px black solid;

   background-color: white;

}

#heading h1{
 margin-top: 20;
}

#navbar
{
   background-color: pink;
   color: white;
}

#navbar ul
{
   padding: 0;
   list-style: none;

}

#navbar li
{
  display: inline;

}

#navbar a
{
  color: black;
  text-decoration: underline;

  font-size: 15px;

  padding-right: 15px;

}

body{

  background-color: pink;

}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.reminders1
{
  float: left;

}

.reminders2
{
  float: right;
}

.clr{

 clear: both;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

